@import url(https://fonts.googleapis.com/css?family=Lato:400,700,900,300&subset=latin,latin-ext);

/* Browser Resets */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
ul, li, ul li, ol, ol li {
	padding: 0;
}
* {
	-webkit-box-sizing: border-box;;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

body {
	/*sizing for allegro*/
	max-width: 1200px;
	background: #f0f0f0;
	margin: 0 auto;
	/*font styles*/
	font: 400 14px/18px "Lato", Helvetica, Arial, sans-serif;
	color: 999;
	text-align: left;
}
h1 {

}
h2 {
	font: 700 21px/21px "lato", Helvetica, Arial, sans-serif;
	text-transform: uppercase;
}
.wrapper {
	background: #fff;
	/*Do usunięcia przed publikacją na allegro !!! */
	border-left: solid 1px #ccc;
	border-right: solid 1px #ccc;
	border-bottom: solid 1px #ccc;
}
.navigation {
	list-style-type: none;
	text-align: center;
}
.navigation ul {
	padding: 0;
	margin: 0;
}
.navigation ul li {
	list-style-type: none;
	display: inline-block;
}
.navigation ul li a{
	text-decoration:  none;
	display: block;
}
.band {
	padding: 32px 25px;
}
.band.header {
	padding-left: 0;
	padding-right: 0;
	background: #fff;

	margin-left: auto;
	margin-right: auto;
	width: 100%;
	height: 116px;
	display: block;
	background: url(http://vps-1163492-9205.cp.homecloud.pl/termiko/images/termiko-logo.png) center center no-repeat;

	font: 0/0 a;
	text-shadow: none;
	color: transparent;
	text-align: center;
}
.band.header::after {
	content: "";
	display: block;
	position: relative;
	bottom: -84px;

	height: 2px;
	width: 100%;
	background: rgba(204,204,204,1); /*Old browsers*/
	background: -moz-linear-gradient(left,  rgba(204,204,204,1) 0%, rgba(204,204,204,0.2) 50%, rgba(204,204,204,1) 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(left,  rgba(204,204,204,1) 0%, rgba(204,204,204,0.2) 50%,rgba(204,204,204,1) 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to right,  rgba(204,204,204,1) 0%, rgba(204,204,204,0.1) 50%,rgba(204,204,204,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cccccc', endColorstr='#cccccc',GradientType=1 ); /* IE6-9 */
	
}
.band.cover {
	background: url(http://vps-1163492-9205.cp.homecloud.pl/termiko/images/bg.gif)
				#fff;
	text-align: center;
	color: rgba(0,0,0,0.1);
	font: 900 51px/21px "Lato", Helvetica, Arial, sans-serif;
	text-transform: uppercase;
}

.band.navigation.primary {
	/*override defeault band padding*/
	padding: 0;
}
.band.navigation.primary ul li a{
	padding: 16px 12px;

	color: #666;
}
.band.navigation.primary ul li a:hover {
	background: #efefef;
}
.band.subject {
	color: white;

	background: rgb(204,0,0); /* Old browsers */
	background: -moz-linear-gradient(left,  rgba(204,0,0,1) 0%, rgba(209,4,7,1) 37%, rgba(144,0,0,1) 99%); /* FF3.6-15 */
	background: -webkit-linear-gradient(left,  rgba(204,0,0,1) 0%,rgba(209,4,7,1) 37%,rgba(144,0,0,1) 99%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to right,  rgba(204,0,0,1) 0%,rgba(209,4,7,1) 37%,rgba(144,0,0,1) 99%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cc0000', endColorstr='#900000',GradientType=1 ); /* IE6-9 */
}

.band.navigation.secondary {
	/*override defeault band padding*/
	padding: 0px;
}
.band.navigation.secondary ul li a{
	padding: 16px 12px;
	font-size: 12px;
	border-left: solid 1px transparent;
	border-right: solid 1px transparent;
	color: #aaa;
}
.band.navigation.secondary ul li a:hover{
	background: #efefef;
	text-decoration: underline;
	border-left: solid 1px #ccc;
	border-right: solid 1px #ccc;
}
.band.description {
	background: url(http://vps-1163492-9205.cp.homecloud.pl/termiko/images/bg.gif)
				#fff;
}

/* ... */

.band.footer {
	background: rgb(51,51,51); /* Old browsers */
	background: -moz-linear-gradient(left,  rgba(51,51,51,1) 0%, rgba(63,63,63,1) 37%, rgba(34,34,34,1) 99%); /* FF3.6-15 */
	background: -webkit-linear-gradient(left,  rgba(51,51,51,1) 0%,rgba(63,63,63,1) 37%,rgba(34,34,34,1) 99%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to right,  rgba(51,51,51,1) 0%,rgba(63,63,63,1) 37%,rgba(34,34,34,1) 99%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#333333', endColorstr='#222222',GradientType=1 ); /* IE6-9 */

	color: #fff;
}
